<div class="player"{{#if me}} id="me"{{/if}}>
  <div class="identifier" style="background: rgb({{color.[0]}},{{color.[1]}},{{color.[2]}})"></div>
  <p class="name" style="color: rgb({{color.[0]}},{{color.[1]}},{{color.[2]}})">{{name}}</p>
</div>
